## Q1

In [3]:
nbr_entier = int(input('Entre un nombre entier :'))
for nbr_affiche in range(1,nbr_entier+1):
    print(nbr_affiche)

1
2
3
4
5
6
7
8
9
10
11
12

## Q2

In [50]:
def extract(l):
    nv = []
    for x in l:
        if(x > 0):
            nv.append(x)
    return nv
    
l =[23,4,56,-7,8,9,0,-18,7,6,55,43,-2]
print("La liste des entiers pair est : ",extract(l))

La liste des entiers pair est :  [23, 4, 56, 8, 9, 7, 6, 55, 43]

## Q3

In [29]:
liste_brutes_mots = ['cerise','banane','aioli','arbre','robinet','urinoir']
def extract(l):
    match = ['a', 'e', 'i', 'o', 'u']
    liste_triee = []
    for elem in l:
        first_letter = elem[0]
        if first_letter in match :
            liste_triee.append(elem)
            
    print(liste_triee)


extract(liste_brutes_mots)

['aioli', 'arbre', 'urinoir']

## Q4

In [1]:
nbr_entier = int(input('Entre un nombre entier :'))
def test_parite_nbr(x):
    if x%2==0 and x>0:
        print('nombre pair')
    elif x%2>0 or x==1:
        print('nombre impair')
    else:
        print('nombre nul')
    

test_parite_nbr(nbr_entier)

Entre un nombre entier : 12

nombre pair

## Q5

In [71]:
mot = input('entre un mot')
def compte_lettres(elem):
    nbr_lettres = len(elem)
    if nbr_lettres > 5:
        print(elem)

compte_lettres(mot)

entre un mot oiseaux

oiseaux

## Q6

In [81]:
print('Vous devez saisir 5 nombres ;-)')
def affiche_nombres():
    i=1
    liste_nombre = []
    while i < 6:
        insert_nombre = int(input('entre le nombre ' + str(i)))
        liste_nombre.append(insert_nombre)
        i+=1

    print(liste_nombre)
    
affiche_nombres()

Vous devez saisir 5 nombres ;-)

entre le nombre 1 23
entre le nombre 2 45
entre le nombre 3 667
entre le nombre 4 42
entre le nombre 5 90

[23, 45, 667, 42, 90]

## Q7

In [89]:
tableau_nombre = input('entre des nombres séparés par des virgules :')

def addition_tableau(elem):
    result_add = 0
    liste_elem = elem.split(',')
    for nbr in liste_elem:
        result_add = result_add + int(nbr)
    
    print(result_add)

addition_tableau(tableau_nombre)

entre des nombres séparés par des virgules : 12,34,55

101

## Q8

In [95]:
tableau_mots = input('entre une listes de mots séparés par des virgules :')

def comptes_lettres_mots(elem):
    nbr_lettres = []
    liste_elem = elem.split(',')
    for mot in liste_elem:
        y = len(mot)
        nbr_lettres.append(len(mot))
        
    print(nbr_lettres)

comptes_lettres_mots(tableau_mots)

entre une listes de mots séparés par des virgules : test,test1,test11

[4, 5, 6]

## Q9

In [99]:
liste_nombres = input('écris une liste de nombres séparés par une virgule :')
def extract(elem):
    liste_elem = elem.split(',')
    liste_int = []
    liste_int_pairs = []
    for nbr in liste_elem:
        liste_int.append(int(nbr))
        
    for nbr in liste_int:
        if(nbr%2==0):
            liste_int_pairs.append(nbr)
            
    return liste_int_pairs
    

print("La liste des nombres pairs est : ",extract(liste_nombres))

écris une liste de nombres séparés par une virgule : 12,13,14,15

La liste des nombres pairs est :  [12, 14]

## Q10

In [104]:
liste_mots = input('écris une liste de mots séparés par une virgule :')
def order_alpha(elem):
    liste_elem = elem.split(',')
    liste_elem.sort()
    print(liste_elem)

order_alpha(liste_mots)

écris une liste de mots séparés par une virgule : aaa,yyy,rrr,zzz,ooo

['aaa', 'ooo', 'rrr', 'yyy', 'zzz']

## Q11

In [105]:
phrase = input('écris une phrase :')
print(len(phrase))

écris une phrase : yoyo yoyo

9

## Q12

In [116]:
chaine = input('écris un truc :')
def invert(elem):
    elem_char=list(elem)
    elem_char.reverse()
    reponse = ''
    for lettre in elem_char:
        reponse = reponse+lettre
    
    print(reponse)

invert(chaine)

écris un truc : azerty

ytreza

## Q13

In [119]:
phrase = input('écris une phrase et je compte le nombre de mots :')
def compte_mots(elem):
    elem_liste_mots = elem.split(' ')
    print(len(elem_liste_mots))

compte_mots(phrase)

écris une phrase et je compte le nombre de mots : aa zz ee

3

## Q14

In [123]:
phrase = input('écris une phrase :')
print(phrase.upper())

écris une phrase : aa zz ee

AA ZZ EE

## Q15

In [130]:
palindrome = "elule"
palindrome_1 = list(palindrome)
print(palindrome_1)
palindrome_2 = list(palindrome)
palindrome_2.reverse()
print(palindrome_2)

if palindrome_1 == palindrome_2:
    print('ok')
else: print('nok')

['e', 'l', 'u', 'l', 'e']
['e', 'l', 'u', 'l', 'e']
ok

## Q16

In [139]:
nombre_user = int(input('trouve le nombre'))
secret = 42
def trouve_nbr(elem):
    if elem > secret:
        print('trop grand')
        nombre_user = int(input('trouve le nombre'))
        trouve_nbr(nombre_user)
    elif elem < secret:
        print('trop petit')
        nombre_user = int(input('trouve le nombre'))
        trouve_nbr(nombre_user)
    else: 
        print('bravo')

trouve_nbr(nombre_user)

trouve le nombre 23

trop petit

trouve le nombre 67

trop grand

trouve le nombre 42

bravo

## Q17

In [2]:
i = 1
y = 10
while i <= y:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

## Q18

In [9]:
liste_nbr = [-1,1,4,-7]
liste_length = len(liste_nbr)
nv_liste = []
i = 0
while i < len(liste_nbr):
    if liste_nbr[i] > 0:
        nv_liste.append(liste_nbr[i])
    i += 1

print(nv_liste)

[1, 4]

## Q19

In [16]:
liste_brutes_mots = ['cerise','banane','aioli','arbre','robinet','urinoir']
match = ['a', 'e', 'i', 'o', 'u']
i = 0
nv_liste = []
while i < len(liste_brutes_mots):
    if liste_brutes_mots[i][0] in match :
        nv_liste.append(liste_brutes_mots[i])
    i += 1

print(nv_liste)

['aioli', 'arbre', 'urinoir']

## Q20

In [23]:
mot = input('entre un mot')
i = 0
while i < len(mot):
    i += 1
if i > 5:
    print(mot)

entre un mot aaaaaa

aaaaaa

## Q21

In [12]:
nombre_final = 10
i = 0
fibonacci = []
while i < nombre_final:
    if i == 0 or i == 1:
        fibonacci.append(i)
    else:
        n1 = fibonacci[i-1]
        n2 = fibonacci[i-2]
        fibonacci.append(n1 + n2)
    i +=1

print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Q22

In [16]:
addition = 0.1 + 0.2
print(addition)

0.30000000000000004

In [18]:
from decimal import Decimal

a = Decimal('0.1')
b = Decimal('0.2')

result = a + b

print(result)

0.3